.board {
	height: 500px;
	width: 400px;
  background: #ffffffe3;
	margin: 6% auto;
	border-radius: 5%;
	position: relative;
}

.body_bg {
	background: url(./resources/bg/door.jpg) center/cover no-repeat;
	font-family: 'Merriweather', serif;
	margin: 0;
 	padding: 3% 0%;
}

.icon__style {
	height: 40px;
	width: 40px;
	min-width: 40px;
	margin: 0 10px 0 0;
}

.input__style {
	display: flex;
  align-items: center;
  padding: 20px 0;
  justify-content: center;

}
.icon__username {
	background: url(./resources/icons_func/username.svg) center/cover no-repeat;;
}

.icon__password {
	background: url(./resources/icons_func/password.svg) center/cover no-repeat;;
}

.icon__user {
	background: url(./resources/icons_func/user_sample.png) center/cover no-repeat;
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

.pannel {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input__type-text {
  padding: 5px;
  border: solid 3px;
  border-color: transparent;
  border-bottom-color: #f79489;
  background: transparent;
}

.input__type-text::placeholder {
	color: grey;
}

.icon__nav-style {
width: 30px;
height: 30px;
cursor: pointer;
}


.btn-submit {
  /*color: #f79489;*/
/*	background: #f9f1f0;
  border: 2px solid #f8c1bb;
  border-radius: 10px;
  padding: 10px 20px;*/
  background: transparent;
  border: none;
}

.btn__submit-style {
  background: #f9f1f0;
  border: 2px solid #f8c1bb;
  border-radius: 10px;
  padding: 0 20px;
  /* margin: 30px 30%; */
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translate(-50%, -10%);
}

.login__icon-style { /*login*/
	width: 45px;
	height: 45px;
	cursor: pointer;  
}

.navbar__blog-control {
    border-radius: 10px;
    border: 1px solid #FADCD9;
    background: #F9F1F0;
}

.footer__text {
  font-size: 18px;
  padding: 10px 0 10px 0;
  text-align: center;
  background: #F79489;
}

.font-Merri {
  font-family: 'Merriweather', serif;
}


