// navbar, footer,  banner

/*navbar */
ul {
	display: flex;

	& li {
	list-style-type: none;
	
	}

	& li a {
		text-decoration: none;
    list-style-type: none;
    font-size: $font__navbar-text;
    color: black;
    letter-spacing: 2px;
		display: flex;
		align-items: center;
	}
}

.navbar {
	display: flex;
  justify-content: space-between;
  align-items: center;

	&__list:hover {
		background: #f9f1f0;
		border-radius: 10px;
	}

	&__style {
    padding: 10px 10px;
    margin: 10px 10px;
		font-family: $font-navbar;
	}
	
	/* btn -> component	*/
	/*blog control for logout & admin btn*/
	&__blog-control {
		border-radius: 10px;
		border: 1px solid #FADCD9;
		background: #F9F1F0;
	}
	// 可以放在 themes(管理員、深淺色模式）
	&__admin {
		display: flex;
		justify-content: flex-end;
	}
}

/*banner in every page*/
.section {
	&__banner {
		@include background-image($path-rel-bg,'banner_avignons-bridge.jpg');
		height: 500px;
		position: relative;
		margin: 0 0 20px 0;
	}
	&__banner:after {
		content: '';
			position: absolute;
			background: rgba(0,0,0,0.3);
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
}

.blog__site {
  &-area {
		margin: 0 auto;
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		z-index: 2;
	}

	&-title {
	  letter-spacing: 2px;
		font-family: $font-title;
		font-size: $font__site-title;
		text-align: center;
	}

	&-intro {
		letter-spacing: 2px;
		font-family: $font-banner-intro;
		text-align: right;
		width: 110%;
		font-size: $font__site-intro;
		color: white;
		-webkit-text-stroke: 1px #000000;
	}
}

.footer__text {
  font-size: $font__footer;
  padding: 10px 0 10px 0;
  text-align: center;
  background: #F79489;
}
